<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>หน้าแรก</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%- include('../pages/nav'); %>
    <style>
      body {
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: linear-gradient(#fff 0%, #77A5F8 100%);
      }
      .jumbotron {
        width: 30vh;
        height: 50vh;
      background-color: #fff;
      opacity: 0.7;
      border-radius: 0.7rem;
      margin-top: 1rem;
      transition: ease-out 0.3s;
    }

      .jumbotron:hover {
      opacity: 0.9;
      transition: ease-in-out 0.3s;
    }

    .imageCard {
      width: 70%;
      height: 70%;
      object-fit: contain;
    }

    .imageName {
      font-size: 1.5rem;
    }

    .btn {
      background-color: #77A5F8;
      color: #fff;
      position: static;
    }

      </style>
  </head>
  <body>
    <h1 class="text-center p-5">หน้าหลัก</h1>
    <h5 class="text-center p-5">ประวัติการอัพโหลด</h5>
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <% ListImages.forEach(function(image){ %>
        <div class="col-6 mx-auto slide-in" id="slider">
          <div class="jumbotron text-center">
            <h3 class="imageName"> <%= image.imageInput %></h3>
            <h3>ID : <%= image.id %></h3>
           
              <img class="imageCard" src="images_input/<%= image.imageInput %>" alt="">
      
            <p><a class="btn btn-primary btn-lg mt-2" href="" role="button">View Picture</a></p>
        </div>
        </div>
        <% }) %>
      </div>
  </div>
  
  </body>

</html>