<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ระบบลงทะเบียนนักศึกษา</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/style_input.css" rel="stylesheet" type="text/css">
    <%- include('../pages/nav'); %>
  </head>
  <style>
  body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#fff 0%, #77A5F8 100%);
  }

  .form-control{
  border: 1px solid #77A5F8;
  border-radius: 2.7rem;
  }

  .form-control:focus{
  border: 1px solid #77A5F8;
  box-shadow: none;
  }
  
  </style>
  <body>
    
    <h1 class="text-center p-5 ">ระบบลงทะเบียนนักศึกษา</h1>
    <div class="container wrapper slide-in" id="slider">
      <div class="row pt-4">
        <div class="col-4 mx-auto ">
          <label for="FirstName">ชื่อ :</label>
          <input class="form-control" type="text" id="FirstName" name="FirstName"><br>
          <label for="LastName">นามสกุล :</label>
          <input class="form-control" type="text" id="LastName" name="LastName"><br>
          <label for="Phone">เบอร์โทรศัพท์ :</label>
          <input class="form-control" type="text" id="Phone"><br>
          <label for="Email">อีเมลล์ :</label>
          <input class="form-control" type="email" id="Email"><br>
          <label for="Password">รหัสผ่าน :</label>
          <input class="form-control" type="password" id="Password"><br>
          <label for="Birthday">วันเกิด :</label><br>
          <input class="form-control" type="date" id="Birthday"><br> 
          <label for="Gender">เพศ :</label><br>
          <select class="form-control" id="Gender">
            <option value="">ไม่ระบุ</option>
            <option value="male">ชาย</option>
            <option value="famale">หญิง</option>
         </select><br>
          <select class="form-control" id="Faculty">
            <option value="">คณะที่เรียน</option>
            <option value="คณะศิลปศาสตร์">คณะศิลปศาสตร์</option>
            <option value="คณะวิศวกรรมศาสตร์">คณะวิศวกรรมศาสตร์</option>
            <option value="คณะเทคโนโลยีสื่อสารมวลชน">คณะเทคโนโลยีสื่อสารมวลชน</option>
            <option value="คณะบริหารธุรกิจ">คณะบริหารธุรกิจ</option>
            <option value="คณะเทคโนโลยีคหกรรมศาสตร์">คณะเทคโนโลยีคหกรรมศาสตร์</option>
            <option value="คณะวิทยาศาสตร์และเทคโนโลยี">คณะวิทยาศาสตร์และเทคโนโลยี</option>
            <option value="คณะสถาปัตยกรรมศาสตร์">คณะสถาปัตยกรรมศาสตร์</option>
            <option value="คณะพยาบาลศาสตร์">คณะพยาบาลศาสตร์</option>
            <option value="คณะเทคโนโลยีการเกษตร">คณะเทคโนโลยีการเกษตร</option>
            <option value="คณะการแพทย์บูรณาการ">คณะการแพทย์บูรณาการ</option>
          </select>
          <br>
          <div class="container">
            <div class="col-md-12 text-center">
              <button class="btn btn-success" onclick="submit()">ลงทะเบียน</button>
              <!-- <button class="btn btn-success" onclick="submit()">Submit</button> -->
            </div>
        </div>

        </div>
      </div>
    </div>

  </body>

  <script>
       
    async function submit() {
      if (document.getElementById('FirstName').value == '' || 
      document.getElementById('LastName').value == '' || 
      document.getElementById('Phone').value == '' || 
      document.getElementById('Email').value == '' || 
      document.getElementById('Password').value == '' ||
      document.getElementById('Faculty').value == '' || 
      document.getElementById('Gender').value == '' || 
      document.getElementById('Birthday').value == '' 
      ) {
        alert('กรุณากรอกข้อมูลให้ครบถ้วน');
      } else {
        console.log('submit');
        let firstname = document.getElementById('FirstName').value
        let lastname = document.getElementById('LastName').value
        let phone = document.getElementById('Phone').value
        let email = document.getElementById('Email').value
        let password = document.getElementById('Password').value
        let faculty = document.getElementById('Faculty').value
        let gender =document.getElementById('Gender').value
        let birthday = document.getElementById('Birthday').value
        data = {
            FirstName: firstname,
            LastName: lastname,
            Email: email,
            Password: password,
            Phone: phone,
            Birthday: birthday,
            Gender: gender,
            Faculty: faculty, 
        };
        console.log(data);
        let root = document.location.hostname
                const raw = await fetch(`http://${root}/addUser`, {
                    method: 'POST', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                }).then (function(response) {
                    if (response.status == 200) {
                        alert('ลงทะเบียนสำเร็จ');
                        location.href = `http://${root}/success` + '?status=' + 'success';
                    } else {
                        location.href = `http://${root}/success` + '?status=' + 'fail';
                        alert('ลงทะเบียนไม่สำเร็จ');
                    }
                })
                 
       
                
              }
      }
 
</script>
</html>