 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <%- include('../pages/nav'); %>
    <style>
      body {
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: linear-gradient(#fff 0%, #77A5F8 100%);
      }
      .jumbotron {
      background-color: #fff;
      opacity: 0.7;
      border-radius: 0.7rem;
      margin-top: 1rem;
      transition: ease-out 0.3s;
      border: 1px solid #77A5F8;
    }
      .jumbotron:hover {
      opacity: 0.9;
      transition: ease-in-out 0.3s;
    }
    .container {
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      border-radius: 50px;
      background: linear-gradient(#fff 0%, #77A5F8 100%);
    }
    .upload {
      text-align: center;
      justify-content: center;
      height: 300px;
      opacity: 0.7;
      border-radius: 0.7rem;
      margin-top: 1rem;
      transition: ease-out 0.3s;
 
    }
    .submitbtn {
      background-color: #77A5F8;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    .submitbtn:hover {
      background-color: #538efc;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      
    }
    .inputimage{ 
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
      </style>
  </head>
  <body>
    <h3 class="text-center p-5"><a href="../"><img src="../assets/images/back-arrow.png" width="30" height="30" class="d-inline-block" alt=""></a> Upload Image</h3>
 
      <div class="row align-items-center h-100" >
        <div class="col-2 mx-auto upload">
            <form action="/uploadFile" method="POST" enctype="multipart/form-data">
                <input class="inputimage " type="file" name="image"  id="imgInp"/>
                <img class="col-lg-9 col-md-9 col-sm-9 col-xs-9  " id="blah" src="#" alt="your image"/>
                <button class="submitbtn" type="submit">Upload</button>
            </form>
 
      </div>
  </div>
  
  </body>
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});
</script>
 
</html>
