<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>หน้าแรก</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%- include('../nav.ejs'); %>
  </head>
  <style>
      body {
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: linear-gradient(#fff 0%, #77A5F8 100%);
      }
    .jumbotron {
      background-color: #fff;
      border-radius: 0.3rem;
      margin-top: 8rem;
    }

        .button-ok{
      width: 100%;
      border-radius: 25px;
      border: none;
      outline: none;
      height: 50px;
      font-size: 18px;
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
      transition: transform 0.3s ease;
    }
    .button-ok:hover{
      transform: scale(0.98);
}
  </style>
  <body>

    <div class="jumbotron col-md-4 mx-auto slide-in" id="slider"">
    <h1 class="text-center p-5" id="status"></h1>
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
          <div class="text-center">
            <p><a class="button-ok btn-lg mt-2" href="../home" role="button">ตกลง</a></p>
        </div>
        </div>
      </div>
      
  </body>
 
<script>
  var URLSearchParams = new URLSearchParams(window.location.search);
  console.log(URLSearchParams.get("status"));
  if (URLSearchParams.get("status") == "success") {
    document.getElementById("status").innerHTML = "เพิ่มข้อมูลสำเร็จ";
  } else if (URLSearchParams.get("status") == "fail"){
    document.getElementById("status").innerHTML = "เพิ่มข้อมูลไม่สำเร็จ";
  } else {
  document.getElementById("status").innerHTML = "ไม่พบข้อมูล";
}
</script>

</html>
